html {
    font-size: 100%;
}
body {
    font-family: Georgia;
    margin: 0;
    color: #333;
}


@media (min-width: 991px) {
    .padding-top-15 {
        padding-top: 15px
    }
}
@media (max-width: 769px) {
    .padding-left-30 {
        padding-left:30px
    }
}

@media (min-width: 769px) {
    .text-align-center{
        text-align: center;
    }
}

@media (max-width: 991px) and (min-width: 769px) {
    #heading{
       font-size: 35px;
    }
    #font-18 {
        font-size: 18px
    }
    .padding-top-10 {
         padding-top: 10px
    }
}
#intSlider .slider-selection {
	background: #BABABA;
}

input[type=checkbox] { display:none; } /* hide the checkbox itself */

#enableNotificationLabel {
    padding-left: 0;      /* remove bootstrap padding */
}

.laemon-selected {
    color: darkgreen;
}
