
.icon-cog:before { content: '\e800'; } /* '' */
.icon-check-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-arrows-cw:before { content: '\e805'; } /* '' */